<div class="leader-board">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">All-time Top Stock Chart Gurus:</div>
                    <div class="panel-body">
                        <div *ngFor="let highScore of highScores; let i = index">
                            <span *ngIf="i<numHighScores">
                                <span class="score">
                                    ${{highScore?.score}}:
                                </span>
                                <span class="date">
                                    {{highScore?.dateTimeFormatted}}
                                </span>
                                <span class="name">
                                    {{highScore?.name}}
                                </span>
                            </span>
                        </div>
                        <div class="more" (click)="onClickMoreHighScores()"><a>{{highScoresMoreText}}</a></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Today's Top Stock Chart Gurus:</div>
                    <div class="panel-body">
                        <div *ngFor="let highScoreToday of highScoresToday; let i = index">
                            <span *ngIf="i<numHighScoresToday">
                                <span class="score">
                                    ${{highScoreToday?.score}}:
                                </span>
                                <span class="name">
                                    {{highScoreToday?.name}}
                                </span>
                                <!-- <span class="date">
                                    {{highScoreToday?.dateTimeFormatted}}
                                </span>
                                <span class="date">
                                    {{highScoreToday?.diff}}
                                </span> -->
                            </span>
                        </div>
                        <div class="more" (click)="onClickMoreHighScoresToday()"><a>{{highScoresTodayMoreText}}</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">Your highest account value:</div>
                    <div class="panel-body">
                        <div class="col-sm-6">
                            <p>
                                $<span class="value">{{localHighScore?.score}}</span> {{localHighScore?.date}}
                            </p>
                            <label>Name: <input class="username" maxlength="15" [(ngModel)]="name"></label>
                            <br>
                            <button class="submit btn btn-primary" (click)="onClickSubmitScore()">Submit High Score</button>
                            <button class="reset btn-reset btn btn-danger" (click)="onClickResetLocalHighScore()">Reset High Score</button>
                        </div>
                        <div class="col-sm-6">
                            <span class="social-container">
                                <a class="twitter"[href]="twitterLink" target="_blank">
                                    I made ${{localHighScore?.score}} on stockchartguru.com!
                                    <br>
                                    <img class="twitter" src="./assets/img/tweet_this.jpg" alt="Tweet this" >
                                </a>
                                <a [href]="fbLink" target="_blank">
                                    <img class="fb" src="./assets/img/share_on_facebook.png" alt="Share on facebook">
                                </a>
                            </span>
                            <div>
                                <a title="Like this on Facebook" 
                                    href="http://www.facebook.com/plugins/like.php?href=http://stockchartguru.com.au&amp;
                                    layout=standard&amp;
                                    show_faces=false&amp;
                                    width=450&amp;
                                    action=like&amp;
                                    colorscheme=light&amp;">
                                <img title="Facebook Like Button"
                                    src="http://www.4wdaction.com.au/_phpBB/download/file.php?id=68849" 
                                    alt="" 
                                    height="50" 
                                    width="50" 
                                    />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <a [routerLink]="['/chart']">
                    <div class="alert alert-success">
                        <strong>Get Started &#12297;</strong> Take me to the stock charts.
                    </div>
                </a>
            </div>
             <!-- <button (click)="postTest()">.</button>  -->
        </div>
    </div>
</div>