<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">All-time biggest money makers</div>
        <div class="panel-body">
            <div *ngFor="let highScore of highScores; let i = index">
                <span *ngIf="i<10">${{highScore?.score}} : {{highScore?.dateTimeFormatted}}</span>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Today's biggest money makers:</div>
        <div class="panel-body">
            <div *ngFor="let highScoreToday of highScoresToday; let i = index">
                <span *ngIf="i<10">${{highScoreToday?.score}} : {{highScoreToday?.dateTimeFormatted}}</span>
            </div>
        </div>
    </div>
    
    <div class="panel panel-info">
        <div class="panel-heading">Your all-time highest account value:</div>
        <div class="panel-body">
            <p>$<span class="value">{{localHighScore?.score}}</span></p>
            <p>{{localHighScore?.date}}</p>
            <button class="btn btn-primary" (click)="onClickSubmitScore()">Submit High Score</button>
            <br>
            <button class="btn-reset btn btn-danger" (click)="onClickResetLocalHighScore()">Reset High Score</button>

        </div>
    </div>

    <a [routerLink]="['/chart']">
        <div class="alert alert-success">
            <strong>Get Started:</strong> Take me to the stock charts.
        </div>
    </a>

</div>