<div class="container">
    <div class="jumbotron">
        <h1>Are you a stock chart guru?</h1>
        <p>Can you predict the direction of a stock price and build the value of your portfolio over a million dollars?</p>
        <p>Each chart you are presented with is from an actual daily chart from a real Fortune 500 company stock which has traded within the last 10 years.</p>
        <p>The specific year of the stock is not displayed, however, the month and day are listed on the stock chart to help give you an indication of the season of the year.</p>
        <p>Hone your stock chart skills for free here before you trade with real money and live the life you've always dreamed of.</p>
    </div>
    <a [routerLink]="['/chart']">
        <div class="alert alert-success">
            <strong>Get Started:</strong> Take me to the stock charts.
        </div>
    </a>
</div>