.info-details-component {
    margin-top: 10px;
}
.jumbotron {
    margin-top: 30px;
    padding-top: 5px;
    p {
        font-size: 15px;
    }
}

.panel {

    .panel-body {
        padding: 8px
    }

    .score {
        width: 89px;
        display: inline-block;
        @media (max-width: 350px) {
            font-size: 13px;
            width: 74px;
        }
    }
    .date {
        width: 86px;
        display: inline-block;
        @media (max-width: 350px) {
            font-size: 13px;
            width: 71px;
        }
    }
    .name {
        text-align: center;
        display: inline-block;
        @media (max-width: 350px) {
            font-size: 13px;
        }
    }

    .more {
        cursor: pointer;
        margin: auto;
        max-width: 50px;
        text-align: center;
    }
}

.col-sm-6, .col-sm-12 {
    padding-left: 8px;
    padding-right: 8px;
}

.btn {
    width: 176px;

    &.submit {
        width: 112px;
        font-size: 11px;
    }

    &.reset {
        width: 112px;
        font-size: 11px;
    }
}

.username {
    width: 130px;
    border-radius: 4px;
    border: 1px solid #888;
    padding: 3px 3px;
}

.value {
    color: #5cb85c;
    font-size: 23px;
}
.social-container {
    display: inline-block;
    margin-top: 20px;
    
    .fb {
        width: 146px;
        margin-left: -4px;
    }
    .twitter {
        width: 80px;
        font-size: 13px;
    }
}

.fb-like {
    margin-top: 10px;
    padding-left: 0px;
}
