<nav>
    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a>
    <a [routerLink]="['/chart']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CHART</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>

    <div class="fb-share-button" 
        data-href="https://stockchartguru.com" data-layout="button" data-mobile-iframe="true">
        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstockchartguru.com%2F&amp;src=sdkpreparse">
            Share
        </a>
    </div>

    <span class="twitter-container">
        <a class="twitter-share-button" 
            href="http://twitter.com/share?text=Stock%20Chart%20Guru&url=http://stockchartguru.com&hashtags=stocks,trading,investing" 
            >Tweet
        </a>
    </span>
</nav>
