<nav>
    <!-- <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">HOME</a> -->
    <a [routerLink]="['/chart']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">CHART</a>
    <a [routerLink]="['/leaderboard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">LEADERBOARD</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>

    <!-- <span class="social-container">
        <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fstockchartguru.com%2F&amp;src=sdkpreparse" target="_blank">
            <img class="fb" src="./assets/img/fb-icon.svg" alt="Share">
        </a>
        <a href="http://twitter.com/share?text=Stock%20Chart%20Guru&url=http://stockchartguru.com&hashtags=stocks,trading,investing" target="_blank">
            <img class="twitter" src="./assets/img/twitter-bird.svg" alt="Tweet" >
        </a>
    </span> -->
</nav>
