<nav>
    <a [routerLink]="['/chart']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Chart</a>
    <a [routerLink]="['/leaderboard']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Leaderboard</a>
    <a [routerLink]="['/info']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Info</a>
    <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">About</a>
    <a [routerLink]="['/speed-reading']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Speed Reading</a>
</nav>
