:host {
  display: block;
  padding: 0 16px;
  max-width: 1074px;
}

.chart {
    #chartContainer {
        max-width: 800px; 
        height:475px;

        @media(max-width: 768px) {
            height: 310px;
        }        
    }
}

.portfolio {
    max-width: 240px;
    
    &--small {
        margin-left: 2px;
        margin-right: -2px;
        padding: 2px 0px;
        border: 1px solid grey;
        border-radius: 4px;
        font-weight: bold;
        font-size: 18px;
    }

    h3 {
        color: #5bc0de;
    }
    .stats {
        font-weight: bold;
        font-size: 16px;
    }
}
.value {
    color: #5cb85c;
    font-size: 20px;
}

.buttons {
    button {
        margin: 2px;
        width: 100%;
        min-width: 100px;
        height: 100px;
        font-weight: bold;
        font-size: 18px;

        @media(max-width: 768px) {
            height: 50px;
        }  
    }
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}