<div class="row">
    <div class="col-sm-9">
        <div class="chart">
            <div id="chartContainer"></div>
        </div>
    </div>
    <div class="col-sm-3 hidden-xs">
        <div class="portfolio">
        <h1>Portfolio</h1>
        <p>
            Value: ${{ accountValue }}
        </p>
        <p>
            Profit: <span *ngIf="profit != null">{{ profit }}%</span>
        </p>
        <p >
            Entry Price: <span *ngIf="entryPrice != 0">{{ entryPrice }}</span><br>
            Current Price: <span *ngIf="currentPrice !=0">{{ currentPrice }}</span><br>
            Days this trade: <span >{{ daysInTrade }}</span><br>
            Total days traded: <span >{{ totalDaysInTrade }}</span><br>
            APY: <span >{{ APY | number:'1.2-2' }}%</span><br>
            Number Of Trades: <span >{{ numOfTrades }}</span><br>
            Ave Days Per Trade: <span >{{ averageDaysPerTrade | number:'1.2-2' }}</span>
            Trades Won: <span >{{ numWon }}</span><br>
            Trades Lost: <span >{{ numLost }}</span><br>
            Ave PPW: <span >{{ averagePercentPerWin | number:'1.2-2' }}%</span><br>
            Ave PPL: <span >{{ averagePercentPerLoss | number:'1.2-2' }}%</span><br>
            Won <span >{{ 100*numWon/numOfTrades | number:'1.2-2' }}%</span><br>
        </p>
    </div>
    </div>
</div>

<div class="row visible-xs portfolio--small">
    <div class="col-xs-6">
        Value: $<span class="value">{{ accountValue }}</span>
    </div>
    <div class="col-xs-6">
        Profit: <span *ngIf="profit != null">{{ profit }}%</span>
    </div>
</div>

<div class="row">
    <div class="buttons col-xs-12">
        <div class="row">
            <div class="button-container col-xs-6">
                <button class="btn btn-primary" (click)="initChart()" >Next Chart</button>
            </div>
            <div class="button-container col-xs-6">
                <button class="btn btn-info" (click)="advanceChart()">Advance</button><br><br>
            </div>
        </div>
        <div class="row">
            <div class="button-container col-xs-6">
                <button class="btn btn-success" *ngIf="!activePosition" (click)="buy()">Buy</button>
            </div>
            <div class="button-container col-xs-6">
                <button class="btn btn-danger" *ngIf="!activePosition" (click)="short()">Sell Short</button>
            </div>
        </div>
        <div class="row">
            <div class="button-container col-xs-12">
                <button class="btn btn-warning" *ngIf="activeShort" (click)="buyToCover()">Buy to Cover</button>
            </div>
            <div class="button-container col-xs-12">
                <button class="btn btn-warning" *ngIf="activeLong" (click)="sellToClose(profit)">Sell to Close</button>
            </div>
        </div>
    </div>
</div>


