<div class="scg-footer">
    <div class="panel panel-default">
        <div class="panel-heading">
            Stock Chart Game. Technical Analysis. Backtesting & Simulation for Algorithmic and HFT (High Frequency Trading) Strategies.
        </div>
        <div class="panel-body">
            <p>
                Stock chart traders and investors use two categories of techniques to analyze securities and make investment decisions: fundamental analysis and technical analysis. Fundamental analysis involves reviewing a business's financial statements including income, expenses, and balance sheets, to ascertain the market value of the company and identify high value investments. 
            </p>
            <p>
                Technical analysis, or stock chat analysis, on the other hand, believes that a security’s currently trading market price has already factored in information which is publicly available and insider information which is not available to the average stock trader or investor and instead emphasizes statistical, psychological, and mathematical analysis of stock market price movements.
            </p>
            <p>
                You might think that technical analysis could seem confusing at first glance, however it comes down to an analysis of psychological factors and supply and demand in the stock market to identify whether the price is trending up or down. 
            </p>
            <p>
                To put it plainly, technical analysis chooses to understand the market sentiment behind price trends instead of analyzing a company's fundamental business balance sheet. When you understand the power and details of technical stock chart analysis, it can provide you with a powerful tool or skills that will enable you to be a better stock chart trader or investor in both short and long term time frames.
            </p>
        </div>
    </div>
</div>